<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Express</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png">
    <script src="./JS/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img class= "partial" src="./images/Screenshot 2021-05-10 at 17.35.04.png" alt="Image of BPT" srcset="">
    </div>
{{>footer}}
</body>
</html>